body {
background: url('https://i.imgur.com/6ZNf19b.png') no-repeat center center fixed;
background-size: cover;
}

.col-md-9.col-xs-12 {
background-color: rgba(0, 0, 0, 0.0) !important;
border: none !important;
border-top: none !important;
border-right: none !important;
border-bottom: none !important;
opacity: 1;
}

div.container.main {
background-color: rgba(0, 0, 0, 0.0) !important;
border: 4px double #000000 !important;
border-left: none !important;
}

.topbar {
  background: rgba(0, 0, 0, 0.0);
  border: none;
  border-top: none;
  color: rgb(255, 255, 255);
  border-radius: 0px;
}

.navbar {
  background: rgba(0, 0, 0, 0.0);
  border: none;
  color: rgb(225, 225, 225);
  border-radius: 0px;
}

.navbar li a {
  background: rgba(0, 0, 0, 0.0)
  color: rgb(225, 225, 225)!important;
  border: none;
}

.navbar li a:hover {
  background: rgba(0, 0, 0, 0.0) !important;
  border: none;
  color: rgb(180, 180, 180) !important;
}

.breadcrumb {
  background: rgba(0, 0, 0, 0.0) !important;
  border: none;
  border-radius: 0px;
  color: rgb(150, 150, 150);
}

.breadcrumb .active {
  color: rgb(225, 225, 225);
}

input.floatright { /*bookmark button */
  background: rgba(0, 0, 0, 0.0) !important;
  border: none !important;
  border-radius: 0px;
  text-shadow: none !important;
  color: rgb(225, 225, 225);
}

input.floatright:hover {
  background: rgba(120, 120, 120, 0.5) !important;
  border: none !important;
  border-radius: 0px;
  text-shadow: none !important;
  color: rgb(225, 225, 225);
}

button.button { /*switch account button*/
  background: rgba(0, 0, 0, 0.0);
  border: none !important;
  border-radius: 0px;
  text-shadow: none !important;
  color: rgb(225, 225, 225) !important;
}

button.button:hover {
  background: rgba(120, 120, 120, 0.5);
  border: none !important;
  border-radius: 0px;
  text-shadow: none !important;
  color: rgb(225, 225, 225) !important;
}

.alert { /*done hunting*/
  background: rgba(0, 0, 0, 0.0);
  border: none;
  color: rgb(60, 179, 113);
  border-radius: 0px !important;
}

.alert-warning {
  background: rgba(0, 0, 0, 0.0);
  border: none;
  color: rgb(0, 0, 225);
  border-radius: 0px !important;
}

.alert-danger { /*starving*/
  background: rgba(0, 0, 0, 0.0);
  border: none;
  color: rgb(225, 0, 0);
  border-radius: 0px !important;
}

h1 {
  color: rgb(60, 60, 225);
  font-size: 50px;
  text-align: center;
}
